{% extends 'base.html.twig' %}

{% block title %}Actividades UD1 {% endblock %}

{% block body %}
<h1>Actividades UD1 - Calculos resta  </h1>
<p>La resta de {{ num1 }} menos  {{ num2 }} es {{ resta }}
</p>


{% endblock %}
