{% extends 'base.html.twig' %}

{% block title %}Actividades UD1 {% endblock %}

{% block body %}
<h1>Actividades UD1 - Calculos suma  </h1>
<p>La suma de {{ num1 }} y {{ num2 }} es {{ suma }}
</p>


{% endblock %}
