{% extends 'base.html.twig' %}

{% block title %}Actividades UD1 {% endblock %}

{% block body %}
<h1>Actividades UD1 - Cine </h1>
<p>Me gusta el cine español. La saga star wars. y mucho mas...
</p>


{% endblock %}
