{% extends 'base.html.twig' %}

{% block title %}Actividades UD1{% endblock %}

{% block body %}
<h1>Actividades UD1- Deportes</h1>
<p>Me gusta el baloncesto y todos los deportes relacionados con la montaña.</p>


{% endblock %}
