{% extends 'base.html.twig' %}

{% block title %}Actividades UD1{% endblock %}

{% block body %}
<h1>Actividades UD1 - Viajes</h1>
<p>Me encanta viajar, aunque este verano me parece que toca quedarse cerca de casa.</p>

{% endblock %}
